body{
    font-family: 'Marcellus SC', serif;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.test{
    margin-top: 100px;
    margin-left: 80px;
}
.canterd{
    text-align: center;
}